<!DOCTYPE html>
<html>
    <head>
        <script src=static/index.js defer></script>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="container">
        <header><h1 class="hh1">The information about the countinues of the world</h1></header>
        <div class="con">
            <div class="d2">
                <button onClick="window.location.reload();">Refresh Page</button>
                <div class="r1" id="alphabet"><h4>List of the countries</h4>
                <select id="inselect">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="O">O</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                    <option value="S">S</option>
                    <option value="T">T</option>
                    <option value="U">U</option>
                    <option value="V">V</option>
                    <option value="W">W</option>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
                <button id="A">A</button>
                <button id="A">B</button>
                <button id="A">C</button>
                <button id="A">D</button>
                <button id="A">E</button>
                <button id="A">F</button>
                <button id="A">G</button>
                <button id="A">H</button>
                <button id="A">I</button>
                <button id="A">J</button>
                <button id="A">K</button>
                <button id="A">L</button>
                <button id="A">M</button>
                <button id="A">N</button>
                <button id="A">O</button>
                <button id="A">P</button>
                <button id="A">Q</button>
                <button id="A">R</button>
                <button id="A">S</button>
                <button id="A">T</button>
                <button id="A">U</button>
                <button id="A">V</button>
                <button id="A">W</button>
                <button id="A">X</button>
                <button id="A">Y</button>
                <button id="A">Z</button>
                <select id="conselect">
                    <option value="Europe">Europe</option>
                    <option value="Asia">Asia</option>
                    <option value="South-America">South-America</option>
                    <option value="North-America">North-America</option>
                    <option value="Africa">Africa</option>
                    <option value="Oceania">Oceania</option>
                    <option value="Caribbean">Caribbean</option>
                </select>
                
                </div>
                <div class="r2">
                    <div class="r3" id="countrieslist"></div>
                    <div class="r4" id="content"><h1> Content</h1></div>
                </div>
            </div>
            <div class="d3">
                <div class="d4">
                    <div class="div6">
                        <h5 class="hh2">GET</h5>
                        <input id=getid value=40 size="15">
                        <button id=getbutton>GET</button>
                        <textarea id=getoutput></textarea>
                    </div><var></var>
                    <div class="div7">
                        <h5 class="hh2">DELETE</h5>
                        <input id=deleteid value=42 size="17">
                        <button id=deletebutton>DELETE</button>
                    </div>
                    <div class="div8">
                        <h5 class="hh2">POST</h5>
                        <label>id: <input id=postid value=42 size="20"></label><br>
                        <label>name: <input id=postname value='Cuba' size="20"></label><br>
                        <label>continent: <input id=postcontinent value=Caribbean size="20"></label><br>
                        <label>capital: <input id=postcapital value=Havana size="20"></label><br>
                        <button id=postbutton>POST</button>
                    </div>

                </div>
                <div class="d5">
                    <div class="t1"><h1>QUIZ</h1>
                        <button id="question">populatioin quiz</button>
                        <button id="question3">flag quiz</button>
                        
                    </div>
                    <div class="t2" id="question1"></div>
                </div>
            </div>
        </div>
        
        </div>
    </body>
</html>